.button{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
}

.primary{
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: var(--inverted-color);
}

.secondary{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--inverted-color);
}

.danger{
  border: 1px solid var(--error);
  background-color: transparent;
  color: var(--error);
}

.